h1{
    font-family: 'Helvetica';
    font-size: larger;
    color: #3D3D3D;
    background-color: #E1EDF2;
}
h2{
    border-bottom: 2px solid black;
}
p{
    font-family: Helvetica;
}
figure{
    text-align: center;
    background-color: whitesmoke;
    color:lightgrey;
}

